@import url("https://fonts.googleapis.com/css2?family=Jacquarda+Bastarda+9&display=swap");

.jb9 {
  font-family: "Jacquarda Bastarda 9", serif;
  font-weight: 400;
  font-style: normal;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  color: #213547;
  background-color: #ffff80;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  text-align: justify;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #747bff;
}

body {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

img {
  max-width: 100%;
  image-rendering: pixelated;
}

table {
  width: 100%;
  display: block;
  overflow: scroll;
  text-align: center;
  margin: inherit auto;
}

table td:nth-child(even) {
  width: 7.3%;
  font-size: 80%;
}

table td:nth-child(odd) {
  width: 19.5%;
}

.app-card,
#bulk-tools,
dialog {
  border: 1px solid #ccc;
  background: white;
  border-radius: 12px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

#app {
  max-width: 1024px;
  margin: 0 auto;
  padding: 2rem;
}

details {
  z-index: 0;
}

details summary {
  user-select: none;
  cursor: pointer;
}

button,
input,
select {
  border-radius: 8px;
  border: 1px solid transparent;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #f9f9f9;
  transition: border-color 0.25s;
}

select,
input {
  padding: 0.5em 0.7em;
  border: 1px solid #bbb;
}

.title-component {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

dialog {
  border: none;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}
dialog::backdrop {
  background: rgba(0, 0, 0, 0.5);
}

.modal-content {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.modal-actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.pagination {
  margin: 50px 0;
  display: flex;
  justify-content: center;
  gap: 10px;
}

@media (prefers-color-scheme: dark) {
  :root {
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;
  }
  a:hover {
    color: #535bf2;
  }
  button,
  input,
  select {
    background-color: #1a1a1a;
  }

  button {
    border: 1px solid #777;
  }

  .app-card,
  #bulk-tools,
  dialog {
    background-color: #292929;
    border-color: #666;
  }
}

/* Spinner */

.spinner {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-color-scheme: light) {
  .drop-zone.hover {
    background-color: #f0f8ff;
  }
  .drop-zone:not(.processing) {
    background-color: #f1f1f1;
  }
}
